* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 40vw;
	margin: 0 auto;
	margin-top: 20px;
}

table {
	border-collapse: collapse;
	background-color: #80808042;
}

table, th, td {
	border: 1px solid black;
}

td {
	padding: 0 10px 0 10px;
}

ul {
	padding-left: 20px;
}



/* media queries */
@media (max-width:680px) {
	.container {
		width: 100vw;
	}
	table {
		background-color: #ffcd1742;
	}
	table, td, th {
		border-style: dotted;
	}
}

@media (min-width:681px) and (max-width:900px) {
	.container {
		width: 80vw;
	}
	table {
		background-color: #59ff2342;
	}
}

/*git config credential.helper ""*/